body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: black;
  text-shadow: 2px 2px 1px #cecbcd;
  background-image: url(https://i.ibb.co/Wt6q4QP/1-y-X7-Vd1-G1wi9-F0vth-LEh-AA.jpg);
  background-color: darkblue;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin: 0;
  padding: 0;
  height: 69px;
}

/**
  |============================
  | Digital clock
  |============================
*/
.calendar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.digital-clock {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

/**
  |============================
  | Mechanics clock
  |============================
*/

.clock {
  width: 550px;
  height: 550px;
  background-image: url(https://i.ibb.co/dBGxSK1/hiclipart-com-3.png);
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.clock-arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: black;
  transform-origin: bottom;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.clock-center {
  position: absolute;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.clock-seconds__arrow {
  width: 5px;
  height: 40%;
}
.clock-minutes__arrow {
  width: 7px;
  height: 33%;
}
.clock-hours__arrow {
  width: 12px;
  height: 24%;
}
